.hero {
  @extend %flex-center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  max-width: 1980px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to left, rgba(117, 117, 117, 1), rgba(117, 117, 117, 0.3)),
    url(../images/hero1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: $sec-color-bg;
  color: $sec-color-text;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    height: 420px;
  }

  @media screen and (min-width: $desktop) {
    width: auto;
    max-width: $desktop-wide;
    height: 480px;
  }

  // @media screen and (min-width: 1440px) {
  //   max-width: 1920px;
  //   height: 480px;
  // }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;

    @media screen and (min-width: $mobile) {
      font-size: 36px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 42px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 48px;
    }
  }
}
