.clients-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @extend %list;

  &__icon {
    width: 150px;
    height: 150px;
    fill: $prim-color-text;

    transition: fill 250ms $timing;
  }
  &__link:hover .clients-list__icon,
  &__link:focus .clients-list__icon {
    fill: $accent-color;
  }
}
