.page-footer {
  padding-top: 30px;

  &__nav {
    text-align: center;
    padding-bottom: 30px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      font-size: 18px;
    }
  }
}
.address {
  margin-bottom: 20px;
  text-align: center;
  color: $th-color-text;
  font-style: normal;

  &__text {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.contact-list--direction {
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-list__link--padding {
  padding: 0;
  margin-bottom: 10px;
}
.copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  color: $th-color-text;
  text-align: center;
  border-top: 1px solid $th-color-text;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
  }
}
