.page-header__main-nav {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-evenly;
  }
}

.button-menu__image {
  width: 40px;
  height: 40px;
  fill: $sec-color-bg;

  transition: fill 250ms $timing;
}

.button-menu {
  position: absolute;
  right: 40px;
  top: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;

  @media screen and (min-width: $desktop) {
    display: none;
  }

  &:focus .button-menu__image,
  &:hover .button-menu__image {
    fill: $accent-color;
  }
}

.button-menu__image-cross {
  transform: scale(0);
  transform-origin: center;
  transition: transform 250ms $timing 100ms;
}

.button-menu--is-open .button-menu__image-cross {
  transform: scale(1);
  transform-origin: center;
  transition: transform 250ms $timing 100ms;
}

.button-menu--is-open .button-menu__image-line {
  transform: scale(0);
  transform-origin: center;
  transition: transform 250ms $timing 100ms;
}

.button-menu__image-line {
  transform: scale(1);
  transform-origin: center;
  transition: transform 250ms $timing 100ms;
}

.button-menu__content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $prim-color-bg;

  pointer-events: none;
  transform: translateX(-100%);

  transition: transform 250ms $timing;

  @media screen and (min-width: $desktop) {
    position: static;
    display: flex;
    align-items: center;
    pointer-events: initial;
    transform: translateX(0);
    width: auto;
  }
}

.button-menu__content--is-open {
  pointer-events: initial;
  transform: translateX(0%);
}

.button-menu__content .social-list {
  display: none;
}
