.section {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $prim-color-bg;
  color: $prim-color-text;

  &--border {
    @extend %border;
  }
}
.container {
  @extend %container;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.section__display {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
.section__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 32px;
  text-align: center;

  &--vh {
    @extend %visually-hidden;
  }

  @media screen and (min-width: $mobile) {
    font-size: 36px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 42px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}
.section__list {
  display: block;
  @extend %list;
  text-align: center;
}

.section__icon {
  width: 70px;
  height: 70px;

  &-bg {
    @extend %flex-center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 8px;
  }
}
.section__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;

  color: $th-color-text;
  font-size: 28px;

  &-desc {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }
}
.section__do-list {
  @extend %list;
}
.section__do-item {
  padding-top: 0px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.section__do-link {
  @extend %flex-center;
  justify-content: center;
  position: relative;
  color: $prim-color-text;
  text-decoration: none;

  &:hover .section__do-thumb,
  &:focus .section__do-thumb {
    background-color: rgba(33, 150, 243, 0.7);
  }
}
.section__do-thumb {
  position: absolute;
  bottom: 0;
  width: 350px;
  height: 50px;
  @extend %flex-center;
  margin-right: auto;
  margin-left: auto;

  background-color: rgba(117, 117, 117, 0.7);

  transition: background-color 250ms $timing;

  &:hover,
  &:focus {
    background-color: rgba(33, 150, 243, 0.7);
  }
}
.section__do-text {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: $sec-color-text;
}
.section__team-list {
  @extend %list;
}
.section__person-image {
  margin-left: auto;
  margin-right: auto;
}

.section__person {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &-name {
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;

    color: $th-color-text;
    font-size: 20px;

    @media screen and (min-width: $mobile) {
      font-size: 22px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 26px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
    }
  }
  &-position {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }
}
