.section--bgc {
  background-color: $sec-color-bg;
  color: $sec-color-text;
}
.contact-us {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
}
.contact-form {
  text-align: center;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
  }

  &__icon {
    display: flex;
    align-self: center;
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;

    @media screen and (min-width: $mobile) {
      font-size: 22px;
    }

    @media screen and (min-width: $tablet) {
      font-size: 26px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
    }
  }
  &__input {
    display: block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 14px;

    background-color: $sec-color-bg;
    font-size: 20px;
    border: 2px solid $prim-color-bg;
    border-radius: 6px;

    transition: border-color 250ms $timing;

    @media screen and (min-width: $mobile) {
      font-size: 22px;
    }

    @media screen and (min-width: $tablet) {
      display: inline-block;
      font-size: 26px;
      margin-right: 40px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      border-color: $accent-color;
    }
    &::placeholder {
      color: $sec-color-text;
      text-align: center;
      font-style: italic;
      font-size: 16px;

      @media screen and (min-width: $mobile) {
        font-size: 18px;
      }

      @media screen and (min-width: $tablet) {
        font-size: 20px;
      }

      @media screen and (min-width: $desktop) {
        font-size: 22px;
      }
    }
  }
}
